In [2]:
#
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Bad key "text.kerning_factor" on line 4 in
C:\Users\Joanne\anaconda3\envs\dev\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

In [42]:
# Read the data
file_path=('housing_prices_pdf.csv')
data=pd.read_csv(file_path)
data.head()

,#,MLS,Stat,Type,Address,ZipCode,City,City Code,State,List/Sell,...,Lot Square Footage,Property Type,SchoolDistric,Livability Index,#.1,Unnamed: 22,Unnamed: 23,Unnamed: 24,Town,Livability Index.1
0,1.0,1781634.0,A,RESI,28022 39th Ave S,98001,Auburn,100.0,WA,"725,000",...,9894.0,Single Family,Federal Way,0.0,1.0,NaN,NaN,1.0,Sammamish,86.0
1,2.0,1780235.0,A,RESI,35832 Military Rd S,98001,Auburn,100.0,WA,"300,000",...,7150.0,Single Family,Federal Way,0.0,2.0,NaN,NaN,2.0,Medina,85.0
2,3.0,1753425.0,S,RESI,36655 45th Ave S,98001,Auburn,100.0,WA,"555,000",...,23689.0,Single Family,Federal Way,0.0,3.0,NaN,NaN,3.0,Yarrow Point,85.0
3,4.0,1680653.0,A,RESI,28110 48th Ave S,98001,Auburn,100.0,WA,"1,300,000",...,261360.0,Single Family,Auburn,0.0,4.0,NaN,NaN,4.0,Mill Creek,85.0
4,5.0,1632834.0,S,RESI,37115 39th Ave S,98001,Auburn,100.0,WA,"250,000",...,9600.0,Single Family,Federal Way,0.0,5.0,NaN,NaN,5.0,Mercer Island,85.0

## Checking data

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4190 entries, 0 to 4189
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   #                   4188 non-null   float64
 1   MLS                 4188 non-null   float64
 2   Stat                4188 non-null   object
 3   Type                4188 non-null   object
 4   Address             4188 non-null   object
 5   ZipCode             4188 non-null   object
 6   City                4188 non-null   object
 7   City Code           4188 non-null   float64
 8   State               4188 non-null   object
 9   List/Sell           4183 non-null   object
 10  Days on Market      4188 non-null   float64
 11  Bds                 4188 non-null   float64
 12  Bths                4169 non-null   float64
 13  SF                  4155 non-null   object
 14  Start Date          4188 non-null   object
 15  Acres               4188 non-null   float64
 16  Source              4176 non-null   object
 17  Lot Square Footage  4150 non-null   float64
 18  Property Type       4150 non-null   object
 19  SchoolDistric       4188 non-null   object
 20  Livability Index    4188 non-null   float64
 21  #.1                 4188 non-null   float64
 22  Unnamed: 22         0 non-null      float64
 23  Unnamed: 23         0 non-null      float64
 24  Unnamed: 24         25 non-null     float64
 25  Town                25 non-null     object
 26  Livability Index.1  25 non-null     float64
dtypes: float64(14), object(13)
memory usage: 884.0+ KB

In [43]:
data = data.drop(columns=["#"])
data.head()

,MLS,Stat,Type,Address,ZipCode,City,City Code,State,List/Sell,Days on Market,...,Lot Square Footage,Property Type,SchoolDistric,Livability Index,#.1,Unnamed: 22,Unnamed: 23,Unnamed: 24,Town,Livability Index.1
0,1781634.0,A,RESI,28022 39th Ave S,98001,Auburn,100.0,WA,"725,000",4.0,...,9894.0,Single Family,Federal Way,0.0,1.0,NaN,NaN,1.0,Sammamish,86.0
1,1780235.0,A,RESI,35832 Military Rd S,98001,Auburn,100.0,WA,"300,000",4.0,...,7150.0,Single Family,Federal Way,0.0,2.0,NaN,NaN,2.0,Medina,85.0
2,1753425.0,S,RESI,36655 45th Ave S,98001,Auburn,100.0,WA,"555,000",3.0,...,23689.0,Single Family,Federal Way,0.0,3.0,NaN,NaN,3.0,Yarrow Point,85.0
3,1680653.0,A,RESI,28110 48th Ave S,98001,Auburn,100.0,WA,"1,300,000",220.0,...,261360.0,Single Family,Auburn,0.0,4.0,NaN,NaN,4.0,Mill Creek,85.0
4,1632834.0,S,RESI,37115 39th Ave S,98001,Auburn,100.0,WA,"250,000",46.0,...,9600.0,Single Family,Federal Way,0.0,5.0,NaN,NaN,5.0,Mercer Island,85.0

In [37]:
# select numeric columns
data_numeric = data.select_dtypes(include=[np.number])
numeric_cols = data_numeric.columns.values
print(numeric_cols)

['#' 'MLS' 'City Code' 'Days on Market' 'Bds' 'Bths' 'Acres'
 'Lot Square Footage' 'Livability Index' '#.1' 'Unnamed: 22' 'Unnamed: 23'
 'Unnamed: 24' 'Livability Index.1']

In [38]:
# select non numeric columns
data_non_numeric = data.select_dtypes(exclude=[np.number])
non_numeric_cols = data_non_numeric.columns.values
print(non_numeric_cols)

['Stat' 'Type' 'Address' 'ZipCode' 'City' 'State' 'List/Sell' 'SF'
 'Start Date' 'Source' 'Property Type' 'SchoolDistric' 'Town']

In [39]:
# % of missing data.
for col in data.columns:
    pct_missing = np.mean(data[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

# - 0%
MLS - 0%
Stat - 0%
Type - 0%
Address - 0%
ZipCode - 0%
City - 0%
City Code - 0%
State - 0%
List/Sell - 0%
Days on Market - 0%
Bds - 0%
Bths - 1%
SF - 1%
Start Date - 0%
Acres - 0%
Source - 0%
Lot Square Footage - 1%
Property Type - 1%
SchoolDistric - 0%
Livability Index - 0%
#.1 - 0%
Unnamed: 22 - 100%
Unnamed: 23 - 100%
Unnamed: 24 - 99%
Town - 99%
Livability Index.1 - 99%

In [40]:
data_dup.head()

,#,Stat,Type,Address,ZipCode,City,City Code,State,List/Sell,Days on Market,...,Lot Square Footage,Property Type,SchoolDistric,Livability Index,#.1,Unnamed: 22,Unnamed: 23,Unnamed: 24,Town,Livability Index.1
Start Date,,,,,,,,,,,,,,,,,,,,,
2021-05-26,1.0,A,RESI,28022 39th Ave S,98001,Auburn,100.0,WA,"725,000",4.0,...,9894.0,Single Family,Federal Way,0.0,1.0,NaN,NaN,1.0,Sammamish,86.0
2021-05-26,2.0,A,RESI,35832 Military Rd S,98001,Auburn,100.0,WA,"300,000",4.0,...,7150.0,Single Family,Federal Way,0.0,2.0,NaN,NaN,2.0,Medina,85.0
2021-05-07,3.0,S,RESI,36655 45th Ave S,98001,Auburn,100.0,WA,"555,000",3.0,...,23689.0,Single Family,Federal Way,0.0,3.0,NaN,NaN,3.0,Yarrow Point,85.0
2020-10-22,4.0,A,RESI,28110 48th Ave S,98001,Auburn,100.0,WA,"1,300,000",220.0,...,261360.0,Single Family,Auburn,0.0,4.0,NaN,NaN,4.0,Mill Creek,85.0
2021-05-20,5.0,S,RESI,37115 39th Ave S,98001,Auburn,100.0,WA,"250,000",46.0,...,9600.0,Single Family,Federal Way,0.0,5.0,NaN,NaN,5.0,Mercer Island,85.0

In [41]:
data.dropna()

Empty DataFrame
Columns: [#, MLS, Stat, Type, Address, ZipCode, City, City Code, State, List/Sell, Days on Market, Bds, Bths, SF, Start Date, Acres, Source, Lot Square Footage, Property Type, SchoolDistric, Livability Index, #.1, Unnamed: 22, Unnamed: 23, Unnamed: 24, Town, Livability Index.1]
Index: []

[0 rows x 27 columns]